    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Origin of HELLO World</h2>
          <p style="text-align: justify;">Though the origins of Hello World remain somewhat unclear, its use as a test phrase is widely believed to have begun with Brian Kernigham's 1972 book, A Tutorial Introduction to the Language B. In this text, the first known version of the program was used to illustrate external variables. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>MEAN Stack</h2>
          <p>A relatively new stack, MEAN stands for MongoDB, Express. js, AngularJS, and Node. js. MEAN is an end-to-end JavaScript stack largely used for cloud-ready applications.Wanna know more about MEAN stack , click here !!!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>SPA</h2>
          <p>DA single-page application (SPA) is a web application or website that interacts with the user by dynamically rewriting the current web page with new data from the web server, instead of the default method of the browser loading entire new pages.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
</div>

